.nav {
    min-height: 50px ;
    background-color: red;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
.nav-list{
    padding-left: 0 ;
    margin: auto 16px;
}
.nav-item{
    color: aliceblue;
    font-size: 30px;
    list-style:none;
    margin: 0 8px;
    display:inline-block;
}
